<div class="container-fluid d-flex justify-content-center mt-5">
  <h1 aria-label="A pen by Michiel Bijl" data-label="Sign Up">
    <span aria-label="Me"></span>
    <span aria-label="nu"></span>
  </h1>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
